<h1>Hello</h1>
<p><%= link_to 'Одариваемые', controller: 'people' %></p>
<p><%#= link_to 'Подарки', controller: 'present' %></p>
<p><%= link_to 'Подарки', presents_path %></p>


<p>Приветулики))</p>
<p>Хочу сделать приложение для поиска подарков, когда нет идей, что подарить человеку на какое-то событие в его жизни</p>
<p>Для начала мне нужна стартовая страничка, где будут предложены варианты характеристик подарка для поиска</p>
<p>Это будут: кому (person: возраст, пол, бабушка-папа-коллега-племяш, предпочтения), на какой праздник, бюджетность, своими ли руками или купить (галочка)</p>
<p>модели: person, present, -age, gender, holiday, wish, preference </p>
<p>поставить бутстрап и узнать, как делать тэги (модель?) </p>
<p> tag - на память, сувенир, гостинец, схомячить, для рукоделия, для хозяйственного назначения, для выздоровления</p>
<p> профы - бухгалтер, рыбак, преподаватель</p>
<p> повод - др, нг, 8 марта, день буха, скорейшего выздоровления, свадьба</p>
<p> переделать связь одариваемого и подарка - на многие-ко-многим</p>
<p> </p>
<p>Итак, Вы думаете, что подарить</p>
<p>КОМУ</p>
<p>НА КАКОЕ ТОРЖЕСТВО</p>
<p>его предпочтения и желания</p>
<p></p>
<p></p>
<p>упаковки</p>
<p>игруля</p>
<p>рандомные картинки или анекдоты про подарки</p>
<p>рандомный подарок</p>
<p>рандомная шутка - класс шуток, можно добавлять, они рандомно высвечиваются каждые 5 минут либо по клику</p>
<p>jokes.sample - рандом шутки - извлекает случайную запись из массива</p>


<p> <%#= render 'gameone' %></p>
<p><%= link_to 'Игрухи' %></p>



